.TableTitleLable{
    -fx-font-size: 23;
    -fx-font-weight: bold;
}
.Title{
    -fx-font-size: 53;
    -fx-font-family: Gabriola;
}
.OrderInfoLable{
    -fx-font-size: 22;
}
.CartDataLable{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.TableLable{
    -fx-font-size: 20;
}
.TableButton{
    -fx-background-color :#043959;
    -fx-font-family :System;
    -fx-font-size : 15 px;
    -fx-font-weight:bold;
    -fx-text-fill : #FFF;
}
.TableButton:hover{
    -fx-background-color:#01263a;
}
.TableButton:pressed{
    -fx-background-color:#00131c;
}
